alias b='bundle'
alias be='bundle exec'
alias bec='RAILS_ENV=cucumber bundle exec cucumber'
alias ber='bundle exec rake'
alias bndb='bundle install && npm install && bundle exec rake db:migrate'
alias dash='docker exec -ti $(docker ps --format "{{.Names}}" | sort -r | fzf) bash'
alias dc='docker-compose'
alias fm='bundle exec foreman start'
alias g='git'
alias ga='git add'
alias gb='git branch'
alias gc='git commit'
alias gco='git checkout'
alias gd='git diff'
alias gdc='git diff --cached'
alias gl='git log --name-status'
alias gls='git log --graph --pretty=format:"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset" --abbrev-commit' --date=relative
alias gpl='git pull --rebase'
alias gps='git push'
alias gpsu='git push -u origin HEAD'
alias gs='git status -sb'
alias gsa='git stash apply'
alias gsl='git stash list'
alias gsp='git stash pop'
alias gss='git stash save'
alias k='kubectl'
alias kd='kubectl describe'
alias kdp='kubectl describe pod'
alias kg='kubectl get'
alias kgi='kubectl get ingress'
alias kgn='kubectl get nodes'
alias kgp='kubectl get pods'
alias kgs='kubectl get services'
alias kl='kubectl logs'
alias ll='ls -alG'
alias nrtw='npm run test-watch $(fzf)'
alias vimseb='docker run -it --rm -v ${PWD}:/code -w /code sebglazebrook/my-neovim nvim'
alias vim='docker run -it --rm -v ${PWD}:/code -w /code anhnk/my-neovim nvim'
alias wip='git commit -am WIP'
alias wkgp='watch kubectl get pods'
